header #pattern{
height: 135px;
width: 100%;
background-color: aqua;
background-image: url(../img.css/pattern.png);
background-size: 600px;
}
header #pattern img{
    height: 30px;
}

div .logo{
    top: 30px;
    height: 5px;
    width: 1px;
}
header span{
    color: blue;
}
main span{
    background-color: yellow;
}


table {
    width: 1430px;
}